<p>Hello World</p>
<ul>
  <li>All Recs: <%= @recs %></li>
  <li>All Recs with friends: <%= @recs_and_friends %></li>
  <li>1 Rec: <%= @rec %></li>
  <li>All Friends: <%= @friends %></li>
  <li>All Friends Names: <%= @friends_names %></li>
  <li> 1 Friend: <%= @friend %></li>
</ul>